---
layout: archive
title: "Programs"
permalink: /portfolio/
author_profile: true
---
<b> These are my Scratch Programs </b>

Here is a War of Tag program where your goal is to catch the mouse as it runs around:


<iframe src="https://scratch.mit.edu/projects/331930690/embed" allowtransparency="true" width="485" height="402" frameborder="0" scrolling="no" allowfullscreen></iframe>



This is a short little program that shows the Life of Joey:



<iframe src="https://scratch.mit.edu/projects/333772000/embed" allowtransparency="true" width="485" height="402" frameborder="0" scrolling="no" allowfullscreen></iframe>



Here is a game show for you to test your skills:



<iframe src="https://scratch.mit.edu/projects/333068869/embed" allowtransparency="true" width="485" height="402" frameborder="0" scrolling="no" allowfullscreen></iframe>



{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

